body {
  font-family: sans-serif;

  font-size: calc(1em + 1vw);

  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: content-box;
  display: grid;
  grid-template-rows: 1fr 0.4fr 6fr;

  grid-template-areas:
    "titulo"
    "parrafo"
    "juego";


  position: absolute;
  background-color: gray;

}

/* creamos body dividido en tres: titulo, parrafo y tablero */


h1 {
  grid-area: titulo;
  margin: auto;
}
.atras {
  color: grey;
  z-index: -1;
}
.marcador {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: gray;

  grid-area: parrafo;
  z-index: -1;
  margin: 0;
}

.textoInicial {

  grid-area: parrafo;
  width: 100%;
  height: 100%;
  margin: auto;


}
button {
  position: absolute;
  z-index: 2;

  height: 10vh;
  width: 30vw;
  max-height: 120px;
  max-width: 100px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}


.tablero {
  grid-area: juego;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  /*cargamos imagen de triangulos */
  background-image: url("../image/triangulos\ azules.svg");
  background-size: cover;
  background-repeat: no-repeat;

}

button {
  position: absolute;
  z-index: 1;
}

.card {
  width: 80px;
  height: 120px;

  perspective: 600px;
  margin: auto;
  z-index: 0;

  /* cambiamos el margin a AUTO para que el elemento card se centre */
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(black, gray);
  display: grid;
  place-content: center;
  font-size: 4rem;
  border-radius: 1rem;
  border: solid yellow 0.1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(steelblue, lightsteelblue);
  transform: rotateY(180deg);
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}


.tablero.inicial {
  filter: grayscale(50%) blur(5px);
}


.marcojuego {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;

  grid-area: juego;
}

.bad {
  transform: rotateZ(90deg);
  transition: transform 0.2s;
}

.good {
  transform: rotate(-90deg);
  transition: transform 0.2s;
}

@media (min-width: 600px) and (max-width: 800px) {
  .tablero {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* @media (min-width: 800px) and (max-width: 1000px) {
  .tablero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
} */

@media (min-width: 1000px) {
  .tablero {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

