/* importamos tipografia desde google fonts */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
* {
  font-family: "Agbalumo", sans-serif;
}
/* asignamos a body un grid dividido en tres columnas: titulo, parrafo y tablero */
body {
  /* utilizamos esa formula para que la fuente sea responsiva */
  font-size: calc(1em + 1vw);
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: content-box;
  display: grid;
  grid-template-rows: 1fr 0.4fr 6fr;
  grid-template-areas:
    "titulo"
    "parrafo"
    "juego";

  position: absolute;
}


h1 {
  grid-area: titulo;
  margin: auto;
}
.atras {
  visibility: hidden;
}

.marcador {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-area: parrafo;
  z-index: -1;
  margin: 0;
}
.textoInicial {
  grid-area: parrafo;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  font-size: 0.8em;
}
button {
  position: absolute;
  z-index: 2;
  height: auto;
  width: auto;
  font-size: calc(1em + 1vw);
  padding: 6px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: #f2f1ed;
  box-shadow: (0.5rem 0.5rem 2rem 1rem rgba(0, 0, 0, 0.2));
}

.tablero {
  grid-area: juego;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: grid;
  /* añadimos el scroll para casos excepcionales en los que por las dimensiones del viewport no entra el tablero para controlar como se desborda las cartas*/
  overflow: scroll;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.card {
  height: 120px;
  width: 80px;
  perspective: 600px;
  margin: auto;
  z-index: 0;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(55, 55, 55), rgb(161, 161, 161));
  display: grid;
  place-content: center;
  font-size: 4rem;
  border-radius: 1rem;
  border: solid 0.1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(#38b6ff, #f2f1ed);
  transform: rotateY(180deg);
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.incio-fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(#38b6ff, #f2f1ed);
  z-index: -3;
}

.marcojuego {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  grid-area: juego;
}
/* añadimos animaciones al evento de acertar y fallar */
.bad {
  display: inline-block;
  animation: bad 1s ease-in-out infinite;
}

@keyframes bad {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(40deg);
  }
}

.good {
  display: inline-block;
  animation: good 1s ease-in-out infinite;
}

@keyframes good {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
}
/* trabajamos responsividad teniendo en cuenta varios tamaños de dispositivos y su horientacion, bien sea horizontal o vertical, empezando desde un dispositivo mobil*/
@media (min-width: 600px) and (max-width: 750px) {
  .tablero {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  body {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 0.4fr 6fr 1fr;
    grid-template-areas:
      "prueba prueba prueba prueba prueba prueba"
      "parrafo parrafo parrafo parrafo parrafo parrafo"
      "vacio juego juego juego juego vacio2";
  }
  h1 {
    grid-area: prueba;
  }
  .asideL {
    width: 100%;
    height: 100%;
    grid-area: vacio;
  }
  .aside {
    width: 100%;
    height: 100%;
    grid-area: vacio2;
  }
}
