


body{

    font-family: sans-serif;
    min-height: 100%;
    box-sizing:content-box;
    display: grid;
    grid-template-areas:
    "titulo"
    "parrafo"
    "juego";
    grid-template-rows:1fr 1fr 7fr;
}

/* creamos body dividido en tres: titulo, parrafo y tablero */

#tablero {

  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

}


.card {
  width: 80px;
  height: 120px;
  perspective: 600px;
  margin: auto;
  /* cambiamos el margin a AUTO para que el elemento card se centre */
  
  
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(black, gray);
  display: grid;
  place-content: center;
  font-size: 4rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(steelblue, lightsteelblue);
  transform: rotateY(180deg);
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

